body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: center;
  width: 250px;
  margin-right: 20px;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.chatbox{
    width: 100%;
    float: left;
    border-right: 5px solid black;
    
  }
 
.textArea{
    width: 80%;
    resize: none;
}

.fileInfo
{
	font-weight:bold;
	font-size: 2rem;